project/hardware/scripts/.env.local
project/hardware/manager/test.py
project/hardware/manager/.env
*.pyc
project/hardware/json/storytellers.json
project/hardware/manager/sound/latestFile.wav
project/hardware/manager/utils/tempCodeRunnerFile.py
project/hardware/manager/sound/music/*