.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env*
/project/hardware/scripts/.env*
/project/hardware/scripts/.env.local
!.env.example
.vercel
.output
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
